*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: aliceblue;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.banner-area{
    background-image: url(background-2.jpg);
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed; 
}



.banner-area h2{
    padding-top: 8%;
    font-size: 90px;
    color: #fff;
    letter-spacing:5px;
    text-shadow: 
        0px 0px 7px #000,  
         0px 0px 7px #000,
         0px  0px 0 #000,
          0px  0px 0 #000;
}

.content-area{
    width: 100%;
    height:100vh;
    position: relative;
    background: aliceblue;
    top: 500px;
}

.content-area h2{
    font-size: 40px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 2px;
}

.content-area p{
    padding: 2% 0;
    line-height: 20px;
}